
body {	
    font-family: Alumni Sans;
    font-size: 68px;
    font-weight: 500;
    line-height: 75px;
    letter-spacing: 0.08em;
    text-align: left;
    position: relative;
    height: auto;
    overflow-x: hidden;
    background: linear-gradient(179.94deg, #EFEFEF 0.06%, #EDE2D2 191.5%);
}



header{
    display: flex;
    flex-direction: row;
    width: 1328px;
    height: 593px;
    margin-top: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    position: absolute;
    width: 700px;
    height: 122px;
/* h1 */
    font-style: normal;
    font-weight: 600;
    font-size: 110px;
    line-height: 150%;
    display: flex;
    align-items: center;
    
/* or 165px */
    letter-spacing: 0.04em;
    font-variant: small-caps;
/* text */
    color: #1F180E;
    margin: 0px;
}

h2{
    
    
/* h2 */
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
/* or 75px */
    letter-spacing: 0.08em;
    font-variant: small-caps;
    color: #1F180E;
    margin: 0px;
}

h3{
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.24em;

    margin-top: 0px;
}

.data{
    font-family: Arial;
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.22em;
}


h4{
    font-family: Alumni Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.25em;
    text-align: left;
    margin: 0px;

}

h5{
    font-family: 'Alumni Sans';
    font-style: normal;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: 0.25em;
    font-variant: small-caps;
    margin: 0px;
}

h6{
    font-family: Arial;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.25em;
    text-align: left
}

.pidzagolovok{
    position: absolute;
    width: 560px;
    height: 300px;
    top: 186px;
    margin: 0px;
}

.greentext{
    color:#46AF91; 
}

.btn1{
    box-sizing: border-box;
    position: absolute;
    width: 230px;
    height: 50px;
    border: 5px solid #46AF91;
    font-family: Alumni Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.25em;
    font-variant: small-caps;
    color: #000000;
    margin-bottom: 0px;
    background: transparent;
}

.buttonmenu{
    padding: 0px;
    border: 0px;
    font-weight: 400;
    font-family: Alumni Sans;
    font-style: normal;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: 0.25em;
    font-variant: small-caps;
    margin: 0px;
    background: transparent;
}
a{
    padding: 0px;
    border: 0px;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-family: Alumni Sans;
    font-style: normal;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: 0.25em;
    font-variant: small-caps;
    margin: 0px;
}
a:hover{
    font-weight: 700;
}

a:active{
    color: #46AF91;
}

.buttonmenu:hover{
    padding: 0px;
    border: 0px;
    font-weight: 700;
}

.buttonmenu:active{
    padding: 0px;
    border: 0px;
    font-weight: 700;
    color: #46AF91;
}

.btn1:hover{
    background-color: #46AF91;
    transition: 0.4s;
    color:#fbfbfb;
}

.btn1:active{
    background-color: #46AF91;
    color:#000000;
    transition-duration: 0.1s;
}



.buttonInHeader{
    margin-top: 533px;
    background: transparent;
}

.menu{
    position: absolute;
    width: 195px;
    height: 593px;
    margin-left: 1133px;
    margin-top: 0px;
}

.headertelegram{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 21px;
    position: absolute;
    
    
}

.imgAlone{
    height: 50px;
    width: 40px;
    left: 0px;
    top: 26px;
    border-radius: 0px;    
}
.imgAlone:active{
    color: #46AF91;

}
.imgTeleK{
    width: 40px;
    height: 50px;
    flex: none;
    order: 1;
    flex-grow: 0;
    
}

.HeaderTelegramAlone{
    position: absolute;
    left: 12.71%;
    right: 12.29%;
    top: 35.73%;
    bottom: 14.27%;
}
.HeaderTelegramAlone2{
    position: absolute;
    left: 12.71%;
    right: 12.29%;
    top: 35.73%;
    bottom: 14.27%;
    Width:30px;
    Height:25px;
    margin-left: 66px;
    
}

.IconK{
    position: absolute;
    left: 12.5%;
    right: 65%;
    top: 60%;
    bottom: 4%;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.25em;
    font-variant: small-caps;
    color: #000000;
    margin-left: 66px;
}
.photo1{
    position: absolute;
    margin-left: 640px;
    margin-top: 25px;
    
}
.photo{
    box-sizing: border-box;

    position: absolute;
    width: 406.29px;
    height: 540.27px;
    margin-left: 643.69px;
    margin-top: 52.44px;

    background: url(.png);
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.imgAlone{   
    width: 40px;
    height: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.imgTeleK{
    width: 40px;
    height: 50px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.imgK{
    position: absolute;
    left: 12.5%;
    right: 65%;
    top: 60%;
    bottom: 4%;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.25em;
    font-variant: small-caps;
}
.menutext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    position: absolute;
    width: 195px;
    height: 374px;
    margin-top: 219px;
}

.menu1{
    height: 38px;
    width: 195px;
    left: 0px;
    top: 0px;

}

.menu2{
    height: 38px;
    width: 195px;
    left: 0px;
    top: 68px;
}

.menu3{
    height: 38px;
    width: 195px;
    left: 0px;
    top: 136px;
}
.menu4{
    height: 38px;
    width: 195px;
    left: 0px;
    top: 204px;
}
.menu5{
    height: 38px;
    width: 195px;
    left: 0px;
    top: 272px;
}
.menu6{
    height: 38px;
    width: 195px;
    left: 0px;
    top: 340px;
}

.text{
    font-family: Alumni Sans;
    font-size: 32px;
    font-weight: 300;
    line-height: 45px;
    letter-spacing: 0.25em;
    text-align: left;
    color: #46AF91;
}
.block2{
    position: absolute;
    width: 961px;
}

.AboutMe{
    width: 1328px;
    height: 1890px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
}

.left{
    width: 1133px;
    margin: 0px;
    position: absolute;
}

.right{
    position: absolute;
    width: 195px;
    margin-left: 1133px;
}

.n2{
    width: 1133px;
    height: 70px;
}

.n3{
    height: 1062px;
    width: 961px;
    margin-top: 100px;
}

.t1{
    height: 86px;
    width: 961px;
    margin-bottom: 30px;
}

.b1{
    position: absolute;
}

.b2{
    position: absolute;
    margin-left: 57.7px;
    width: 1026px;
    height: 86px;
}

.parag{
    height: 20px;
    width: 20.98px;
    box-sizing: border-box;
    position: absolute;
    margin-top: 13px;
    border: 4px solid #7B84A3;
    border-radius: 50%;
}

.t2{
    height: 45px;
    width: 1100px;
    margin-bottom: 30px;
}

.margin100{
    margin-top: 100px;
    width: 600px;
    margin-bottom: 0px;
}
.button2{
    margin-top: 100px;
}
p{
    margin: 0px;
}

.n5{
    height: 228px;
}

.menutext2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    position: absolute;
    width: 195px;
    height: 374px;
    margin-top: 1516px;
}

.ten1{
    position: absolute;
    width: 746px;
    height: 865px;
    margin-top: 450px;
    margin-left: 800px;
    background: rgba(233, 206, 168, 0.32);
    filter: blur(149px);
}


.approach{
    width: 1328px;
    height: 1750px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
}

.leftApproach{
    width: 1133px;
    margin: 0px;
    position: absolute;
}

.rightApproach{
    position: absolute;
    width: 195px;
    margin-left: 1133px;
}

.ten2{

    position: absolute;
    width: 1676.35px;
    height: 1070.03px;
    margin-top: 450px;
    margin-left: 230px;

    /* тень ж */

    background: rgba(244, 189, 0, 0.12);
    filter: blur(184.5px);
    transform: rotate(-123.14deg);
}

.blokApproach{
    margin-top: 50px;
    width: 1100px;
}

.line{
    margin-top: 50px;
    
    width: 1100px;
    height: 0px;

    /* text */

    border: 1px solid #1F180E;
    transform: rotate(0.34deg);

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.b3{
    text-align: right;
}

.data1{
    font-family: Arial;
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.24em;
    
}

.margin50{
    margin-bottom: 50px;
    font-style: italic;
    font-weight: 700;
}

.menutext3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    position: absolute;
    width: 195px;
    height: 374px;
    margin-top: 1310px;
}

.ten3{

    position: absolute;
    width: 1323.01px;
    height: 700px;
    margin-top: 150px;
    margin-left: 130px;

    /* тень ж */

    background: rgba(233, 206, 168, 0.32);
    filter: blur(184.5px);
    transform: rotate(159.37deg);
}

.work{
    width: 1328px;
    height: 1050px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.box{
    margin-top: 50px;
    height: 150px;
}

.box1{
    margin-top: 50px;
    height: 68px;
}

.box2{
    margin-top: 50px;
    height: 84px;
}

.boxleft{
    box-sizing: border-box;
    position: absolute;
    width: 510px;
    height: 150px;
    border: 1px solid #000000;
}

.boxright{
    margin-left: 566px;
    box-sizing: border-box;
    position: absolute;
    width: 510px;
    height: 150px;
    border: 1px solid #000000;
}

.data3{
    margin-left: 35px;
    margin-top: 15px;
    font-family: Arial;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.24em;
}

.shir{
    height: 68px;
}

.shir01{
    height: 84px;
}

.shir1{
    margin-top:10.46px;
}

.marginshir1{
    margin-left: 90px;
}

.marginshir2{
    margin-left: 104px;
}

.marginshir3{
    margin-left: 55px;
}

.marginshir4{
    margin-left: 90px;
    width: 300px;
}



.Align{
    text-align: center;
}

.cost{
    height: 50px;
}

.button4{
    margin-top: 0px;
    background: transparent;
}
.button5{
    margin-top: 0px;
    margin-left: 285px;
    background: transparent;
    border: 0px;
    box-sizing: border-box;
    position: absolute;
    width: 230px;
    height: 50px;
    font-family: Alumni Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.25em;
    font-variant: small-caps;
    color: #000000;
    margin-bottom: 0px;
}
.button5:hover{
    color: #46AF91;
}
.button5:active{
    color: #000000;
}
.line1{
    border: 2.5px solid #46AF91;
    margin-top: 6px;
    position: absolute;
    width: 230px;
}
.line2{
    width: 230px;
}

.margin690{
    margin-top: 580px;
}


.change-photos {
    width: 30px;
    height: 30px;
  }
  .change-photos:hover {
    width: 30px;
    height: 30px;
  }

  .change-photos .change-photo img {

    object-fit: cover;
  }
  
  /* Сразу скрываем вторую картинку */
  .change-photos .change-photo:nth-of-type(2) {
    display: none;
  }
  .change-photos .change-photo:nth-of-type(3) {
    display: none;
  }
  
  /* При наведении курсора на родительский класс change-photos первую картинку скрываем, а вторую показываем */
  .change-photos:hover .change-photo:nth-of-type(1) {
    display: none;
  }
  
  .change-photos:hover .change-photo:nth-of-type(2) {
    display: block;
  }

  .change-photos:hover .change-photo:nth-of-type(3) {
    display: none;
  }
  
  .change-photos:active .change-photo:nth-of-type(1) {
    display: none;
  }
  
  .change-photos:active .change-photo:nth-of-type(2) {
    display: none;
  }

  .change-photos:active .change-photo:nth-of-type(3) {
    display: block;
  }
  
  .change-photos:active {
    cursor: pointer;
  }

  .marleft{
    margin-left: 23px;
  }
  .pozition{
    display: flex;
    flex-direction: row;
  }
  .photo3{
    display: none;
  }

  .photo4{
    display: none;
  }
  .greentext1{
    display: none;
  }
  .emo{
    display: none;
  }
  .emo1{
    display: none;
  }

  @media screen and (max-width: 1300px) {
    body {	
        background: #ffffff;
    }
    h1{
        font-size: 60px;
        height: auto;
        width: 329px;
        line-height: 96%;
        letter-spacing: 0.03em;
        margin-left: 40px;
    }
    h2{
        font-size: 30px;
        font-weight: 500;
        width: 405px;
        height: 80px;
    }
    header{
        margin-top: 30px;
        width: 812px;
        height: 375px;
    }
    .greentext1{
        display: block;
      }
    .menu{
        display: none;
    }

    .pidzagolovok{
        display: none;
        
    }
    .pidzagolovok1{
        position: absolute;
        top: 150px;
        display: block;
        width: 405px;
        margin-left: 40px;

    }
    .buttonInHeader{
        top: 261px;
        margin-top: 0px;
        margin-left: 40px;
    }
    .photo1{
        display: none;
    }
    .photo{
        display: none;
    }
    .photo3{
        position: absolute;
        display: block;
        margin-left: 399.95px;
        margin-top: 11px;
      }
    .AboutMe{
        margin-top: 0px;
        width: 812px;
        height: 943px;
    }
    h3{
        font-family: Arial;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.14em;
        text-align: left;
    }
    .lefttext{
        text-align: right; 
    }
    .data{
        font-family: Arial;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.14em;
    }
    .parag {
        margin-top: 0px;
    }
    .n2 {
        width: 250px;
        height: 40px;
        margin-left: 8px;
        margin-top: 19px;
    }
    .n3 {
        height: 525px;
        width: 700px;
        margin-top: 20px;
}
    .t1 {
        height: 30px;
        width: 700px;
        margin-bottom: 15px;
    }
    .right{
        display: none;
    }
    .left {
        height: 903px;
        width: 693px;
        margin-left: 40px;
        position: absolute;
    }
    .b2{
        margin-left: 57.7px;
        width: 630px;
        height: 30px;
    }
    .t3{
        height: 60px;
    }
    .ten1{
        display: none;
    }

    .t2{
        margin-bottom: 15px;
        height: 30px;
        width: 700px;
    }
    .margin100 {
        margin-top: 20px;
    }
    .n4{
        width: 205px;
        height: 78px;        
    }

    .n5{
        width: 300px;
        height: 130px;        
    }
    .button2{
        margin-top: 30px;
    }
    .emo{
        display: block;
        position: absolute;
        width: 175px;
        height: 83px; 
        margin-top: 103px;
        margin-left: 625px;

    }

    .rightApproach{
        display: none;
    }

    .ten2{
        display: none;
    }

    .approach {
        width: 812px;
        height: 942px;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .leftApproach{
        margin-left: 40px;
    }
    .blokApproach {
        margin-top: 15px;
        width: 697px;
    }
    .line {
        margin-top: 15px;
        width: 700px;
    }
    .margin50 {
        margin-bottom: 30px;
        font-style: italic;
        font-weight: 700;
    }
    .b8{
        text-align: right;
    }
    .coll1{
        height: 56px;
    }

    .coll2{
        height: 121px;
    }

    .coll3{
        height: 116px;
    }

    .coll3{
        height: 115px;
    }

    .coll4{
        height: 88px;
    }

    .coll5{
        height: 116px;
    }

    .ten3{
        display: none;
    }

    .work{
        width: 812px;
        height: 594px;
        margin-top: 0px;
    }
    .blockwork{
        margin-top: 20px;
    }

    .textwork{
        font-style: italic;
        font-weight: 700;
    }

    .data3{
        font-family: Arial;
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 20.8px;
        letter-spacing: 0.14em;
        margin-left: 7px;
        margin-top: 7px;
    }
    .box {
        margin-top: 20px;
        height: 90px;
    }
    .boxleft {
        width: 345px;
        height: 90px;
    }
    .boxright {
        width: 345px;
        height: 90px;
        margin-left: 409px;
    }
    .box1 {
        margin-top: 20px;
        height: 40px;
    }
    .shir{
        height: 40px;
    }
    .shir1 {
        text-align: center;
    }

    .box2 {
        margin-top: 20px;
        height: 59px;
    }

    .shir01{
        height: 59px;
    }
    .boxcost{
        margin-top: 0px;
        height: 36px;
        margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 450px) {
    header{
        width: 375px;
        Height: 812px;
        margin-left: 0px;
    }

    .photo3{
        display: none;
      }
    
    .photo4{
      display: block;
      position: absolute;
      Width: 252.25px;
      Height: 420.36px;
      margin-left: 122px;
      margin-top: 120px;
    }

    h1 {
        font-size: 60px;
        height: auto;
        width: 329px;
        line-height: 96%;
        letter-spacing: 0.03em;
        margin-left: 20px;
    }
    .lefttext {
        text-align: left;
    }

    .emo{
        display: none;
    }

    .emo1 {
        display: block;
        position: absolute;
        width: 187px;
        height: 200px;
        margin-top: 155px;
        margin-left: 20px;
    }
    .pidzagolovok1 {
        position: absolute;
        top: 564px;
        display: block;
        width: 335px;
        height: 99px;
        margin-left: 20px;
    }
    h2 {
        font-size: 30px;
        font-weight: 500;
        width: 335px;
        height: 99px;
    }

    .buttonInHeader {
        top: 713px;
        margin-top: 0px;
        margin-left: 73px;
    }
    .textemo2{
        font-family: Alumni Sans;
        font-style: normal;
        font-weight: 500;
        line-height: 33px;
        letter-spacing: 0.14em;
        font-variant: small-caps;
        margin: 0px;
        font-size: 30px;
        font-weight: 500;
    }

    .AboutMe {
        margin-top: 0px;
        width: 375px;
        height: 1079px;
        margin-left: 0px;
    }
    .left {
        width: 335px;
        height: 775px;
        margin-left: 20px;
        position: absolute;
    }
    .n3 {
        width: 335px;
        height: 716px;
        margin-top: 0px;
    }
    .b2 {
        margin-left: 36px;
        width: 299px;
        height: 50px;
    }
    .t1 {
        width: 334px;
        height: 47px;
        margin-bottom: 10px;
    }
    .t3 {
        height: 70px;
    }
    .t4 {
        height: 70px;
    }
    .t2 {
        margin-bottom: 10px;
        height: 55px;
        width: 334px;
    }
    .t22{
        height: 130px;
        width: 334px;
    }
    .margin100 {
        margin-top: 0px;
    }

    .button2 {
        margin-top: 50px;
        margin-left: 53px;
    }

    .n5 {
        width: 300px;
        height: 106px;
    }
    .approach {
        width: 375px;
        height: 1181px;
        margin-left: 19px;
    }
    .leftApproach {
        width: 375px;
        margin-left: 0px;
    }
    .blokApproach {
        margin-top: 15px;
        width: 335px;
    }
    .margin50 {
        margin-bottom: 15px;
        font-style: italic;
        font-weight: 700;
    }

    .coll1 {
        height: 102px;
    }

    .coll2 {
        height: 170px;
    }

    .coll3 {
        height: 170px;
    }

    .coll5 {
        height: 170px;
    }

    .work {
        width: 375px;
        height: 788px;
        margin-top: 0px;
        margin-left: 19px;
    }
    .n2{
        margin-left: 0px;
    }
    .textwork {
        font-family: Arial;
        font-style: italic;
        font-weight: 700;
        font-size: 14px;
        line-height: 15.4px;
        letter-spacing: 0.07em;
    }

    .box {
        margin-top: 20px;
        width: 157px;
        height: 149px;
    }
    .boxleft {
        width: 157px;
        height: 149px;
    }
    .boxright {
        width: 157px;
        height: 149px;
        margin-left: 178px;
    }
    .data3{
        letter-spacing: 0.07em;
    }

    .box1 {
        margin-top: 20px;
        width: 157px;
        height: 57px;
    }
    .shir {
        height: 57px;
    }

    .box2 {
        margin-top: 20px;
        width: 157px;
        height: 118px;
    }
    .shir01 {
        height: 118px;
    }
    .marginshir4 {
        width: 157px; 
    }
    .cost {
        margin-top: 20px;
        width: 157px;
        height: 36px;
    }
    .button4{
        position: relative;
        margin-left: 53px;
    }
    .button5{
        position: relative;
        margin-left: 53px;
    }
    .line {

        width: 335px;
    }
    
  }