

h1 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 106.5%;
    display: flex;
    align-items: center;
    letter-spacing: 0.09em;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: 0.08em;
    text-transform: capitalize;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0.08em;
    color: #382A29;
}

h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.24em;
}
body{
    background: linear-gradient(179.94deg, #EFEFEF 0.06%, #EDE2D2 191.5%);
}

.body{
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.24em;
    text-transform: capitalize;
    color: #424242;
}

.body2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.24em;
    text-align: left;
}

.data{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.24em;
}

.textbutton{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.25em;
    text-transform: lowercase;
    color: #382A29;
}

.amenu{
    font-family: 'Nunito Sans', sans-serif; 
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.25em;
    text-transform: capitalize;
    color: #424242
}

.mobmenu{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.25em;
    color: #424242;
    margin-left: 8px;
}
.mar25{
    margin-top: 25px;
}


.amenu:hover{
    font-weight: 400;
    color: #382A29;
}

.amenu:active{
    font-weight: 400;
    color: #22676C;
}

header{
    display: flex;
    width: 1328px;
    height: 743px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
}

button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 61px;
    gap: 10px;
    width: 260px;
    height: 40px;
    border: 4px solid #22676C;
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.buttonа{
    display: block;
    width: 260px;
    height: 40px;
    border-radius: 20px;
}

button:hover{
    background: #22676CCC;
    border: 0px solid #22676CCC;
}
button:hover .textbutton{
    color: #FBFBFB; 
}

button:active{
    background: #22676C;
}

.sizeh1{
    width: 661px;
    height: 207px;
    margin-top: 70px;
}
.pidzagolovok{
    width: 693px;
    height: 175px;
    margin-top: 34px;    
    color: #382A29;
}
.emo1{
    width: 386px;
    height: 67px;
    color: #22676C;
}

.greentext{
    color: #22676C;
}

.btn1{
    margin-top: 100px;  
}

.photo{
    margin-top: 202px;
}

.AboutMe{
    display: flex;
    width: 1328px;
    height: 1632px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.h3About{
    width: 370px;
    height: 60px;
}

.mar0{
    margin-top: 0px;
    margin-left: 0px;
}

.n3{
    width: 1067px;
    height: 772px;
    margin-top: 88px;
}

.t1{
    display: flex;
    flex-direction: row;
    width: 944px;
    height: 70px;
    margin-bottom: 47px;
}

.parag{
    height: 22px;
    width: 22px;
    box-sizing: border-box;
    margin-top: 22px;
    margin-left: 0px;
    border: 4px solid #303C6E;
    border-radius: 50%;
}

.b1{
    width: 60px;
    height: 70px;
}

.b2{
    width: 944px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.t2{
    width: 1004px;
    height: 70px;
    margin-top: 30px;
}

.n4{
    width: 590px;
    height: 44px;
    margin-top: 70px;
}

.button2{
    margin-top: 100px;
}

.approach{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 1328px;
    height: 1818px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.blokApproachTitle{
    width: 1000px;
    height: 31px;
    margin-top: 60px;
}

.blokApproach{
    width: 1000px;
    margin-top: 100px;
}

.blokApproach1{
    width: 1000px;
    height: 97px;
    margin-top: 30px;
}

.line{
    width: 1006.27px;
    height: 0px;
    border: 1px solid rgba(31, 24, 14, 0.2);
    transform: rotate(0.34deg);
    margin-top: 50px;
}

.right{
    text-align: right;
}

.work{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 1328px;
    height: 1252px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.textwork{
    margin-bottom: 30px;
}

.box{
    display: flex;
    width: 1328px;
}

.box1{
    display: flex;
    width: 510px;
    height: 120px;
    background: rgba(48, 60, 110, 0.05);
    border-radius: 20px;
    justify-content: center;
}

.box2{
    display: flex;
    width: 510px;
    height: 70px;
    background: rgba(48, 60, 110, 0.05);
    border-radius: 20px;
    justify-content: center;
}

.box3{
    display: flex;
    width: 510px;
    height: 90px;
    background: rgba(48, 60, 110, 0.05);
    border-radius: 20px;
    justify-content: center;
}

.boxIn1{
    width: 440px;
    height: 90px;
}

.marLeft30{
    margin-left: 30px;
}

.cost{
    margin-top: 65px;
}
.rightApproach{
    width: 176px;
    height: 500px;
    position: fixed;
    margin-left: 1180px;
    margin-top: 70px;
}

.pozition{
    display: flex;
}

.marleft{
    margin-left: 20px;
}

.menutext3{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
.menubuttom{
    margin-bottom: 30px;
}

.flex{
    display: flex;
}


.setdropicon{
    margin-top: 14px;
    margin-left: 15px;
}

/* Символы телеграмм */

  .change-photos .change-photo img {

    object-fit: cover;
  }
  
  /* Сразу скрываем вторую картинку */
  .change-photos .change-photo:nth-of-type(2) {
    display: none;
  }
  .change-photos .change-photo:nth-of-type(3) {
    display: none;
  }
  
  /* При наведении курсора на родительский класс change-photos первую картинку скрываем, а вторую показываем */
  .change-photos:hover .change-photo:nth-of-type(1) {
    display: none;
  }
  
  .change-photos:hover .change-photo:nth-of-type(2) {
    display: block;
  }

  .change-photos:hover .change-photo:nth-of-type(3) {
    display: none;
  }
  
  .change-photos:active .change-photo:nth-of-type(1) {
    display: none;
  }
  
  .change-photos:active .change-photo:nth-of-type(2) {
    display: none;
  }

  .change-photos:active .change-photo:nth-of-type(3) {
    display: block;
  }
  
  .change-photos:active {
    cursor: pointer;
  }

  a{
    transition: all 0.3s ease-in-out;
  }

  .menumobhead{
    display: none;
    background: #ECECEC;
    height: 0px;
    margin-top: 0px;
  }

  .burger{

    }

.linemenu{
    margin-left: 200px;
    width: 30px;
    bottom: 75%;
    border: 3px solid #382A29;
    background-color: #382A29;
    border-radius: 5px;
    margin-top: 3.5px;
}

.dropmenuall{
    width: 205px;
    height: 521px;
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 18px 0px 0px 18px;
    position: fixed;
    top: 0px;
    margin-left: 628px;
    transform: translateX(100%);
    transition: transform 0.5s; 
}
.dropmenuall.active {
	transform: translateX(0);
    margin-left: 182px;
}

.menumenu{
    width: 205px;
    height: 47px;
    background: #ECECEC;
    border-radius: 18px 0px 0px 0px;
}
.setdrop{
    height: 31px;
    margin-left: 15px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.dropmenu{
    margin-top: 13px;
}

.mainmenubtn{
    margin-left: 770px;
    margin-top: 10px;
}
.flex{
}
.linedrop{
    width: 205px;
    height: 0px;
    margin-top: 13px;
    margin-bottom: 13px;
    border: 1px solid rgba(0, 0, 0, 0.15); 
}
.opas{
    margin-left: 50px;
}
.dropmenuall.opas1{
    display: block;
    margin-left: -170px;
    transition-duration: 0.1s;
}

.dropmenuall.opas12{
    display: block;
    margin-left: 0px;
    transition-duration: 0.1s;
}
.photo3{
    display: none;
}

.photo4{
    display: none;
}
.greentext2{
    display: none;    
}
.mainmenubtn1{
    display: flex;
    margin-top: 0px;
}

.linemenu1{
    width: 32px;
    bottom: 75%;
    border: 3px solid #382A29;
    background-color: #382A29;
    border-radius: 5px;
    transform: rotate(-43.77deg);
    margin-top: 22px;
}

.linemenu2{
    width: 32px;
    bottom: 75%;
    border: 3px solid #382A29;
    background-color: #382A29;
    border-radius: 5px;
    transform: rotate(223deg);
    margin-top: -3px;
}
.mainmenubtn1{
    width: 22px;
    height: 22px;
}

.menu-btn {
	width: 30px;
	height: 30px;
	position: fixed;
	z-index:2;
	overflow: hidden;
    margin-left: 780px;
    margin-top: 10px;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}


  @media screen and (max-width: 1400px) {
    .rightApproach{
        margin-left: 1110px;
    }
  }

  @media screen and (max-width: 1250px) {
    body{
        background: #FFFFFF;
    }

    .content{
        background-color: rgba(0, 0, 0, 0.25);
        transition: background-color 0.5s ease, color 0.5s ease;
    }


    .linedrop56{
        margin-left: -15px;
    }
    h1{
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 96%;
        letter-spacing: 0.03em;
        color: #1F180E;
    }
    h2{
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 110%;
        letter-spacing: 0.14em;
        color: #1F180E
    }

    h3{
        font-family: 'Nunito Sans', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.14em;
        color: #1F180E;
    }

    .h3About{
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 110%;
        letter-spacing: 0.14em;
        color: #1F180E;
        margin-top: 0px;
        margin-left: 40px;
    }

    .data{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.14em;
        text-align: left;
    }

    .body{
        font-family: 'Nunito Sans', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.14em;
        color: #424242;
    }

    .body2{
        font-family: 'Nunito Sans', sans-serif;
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.14em;
        text-align: left;
    }

    header{
        width: 812px;
        height: 375px;
        margin-left: auto;
        margin-right: auto;
    }
    .AboutMe{
        width: 812px;
        height: 920px;
        margin-top: 115px;
    }
    .approach{
        width: 812px;
        height: 942px;
        margin-top: 115px;
    }
    .work{
        width: 812px;
        height: 460px;
        margin-top: 110px;
    }

    .left{
        height: 375px;
    }

    .menumobhead{
        background: #ECECEC;
        height: 48px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        overflow: hidden;
      }
    .rightApproach{
        display: none;
    }

    .photo{
        display: none;
    }

    .photo3{
        display: block;
        margin-top: 21px;
        margin-top: 80px;
        margin-left: -470px;
    }
    
    .photo4{
        display: none;
    }
    .sizeh1{
        width: 329px;
        height: 102px;
        margin-left: 40px;
    }
    .greentext1{
        display: none;  
    }

    .greentext2{
        display: block;
        width: 405px;
        height: 58px;
        margin-top: 20px;
        margin-left: 40px;  
    }
    .emo1{
        left: 644px;
        top: 105px;
        width: 168px;
        height: 117px;
        margin-top: -177px;
        margin-left: 624px;
    }
    .btn1{
        margin-top: 99px;
        margin-left: 40px;
    }

    .n3 {
        width: 812px;
        height: 772px;
        margin-top: 88px;
    }

    .n3{
        margin-top: 20px;
        width: 812px;
        height: 410px;
        margin-left: 40px;
    }

    .t1{
        height: 30px;
        width: 812px;
        margin-top: 28px;
        margin-bottom: 0px;
    }
    .t2 {
        width: 700px;
        height: 50px;
        margin-top: 18px;
        margin-left: 40px;
    }
    .b1{
        height: 30px;
    }
    .parag {
        height: 16px;
        width: 16px;
        margin-top: 5px;
        margin-left: 4px;
        border: 4px solid #303C6E;
        border-radius: 50%;
    }
    .button2{
        margin-top: 40px;
    }
    .n4 {
        width: 590px;
        height: 44px;
        margin-top: 40px;
        margin-left: 40px;
    }
    .mar0{
        margin-left: 40px;
    }

    

    .martopbut0{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 40px;
    }

    .blokApproach {
        width: 700px;
        height: 56px;
        margin-top: 20px;
        margin-left: 40px;
    }
    .line {
        display: flex;
        width: 772px;
        margin-left: 40px;
        margin-top: 15px;
        z-index: -1;
    }

    .blokApproachTitle {
        width: 812px;
        height: 31px;
        margin-top: 15px;
        margin-left: 40px;
    }

    .blokApproach1 {
        width: 772px;
        height: 97px;
        margin-top: 15px;
        margin-left: 40px;
    }
    .right {
        text-align: right;
        margin-left: auto;
    }

    .textwork {
        margin-bottom: 20px;
    }
    .box {
        width: 812px;
        margin-left: 40px;
    }

    .box1 {
        width: 345px;
        height: 80px;
    }
    .boxIn1{
        margin-left: 10px;
    }
    .marLeft30 {
        margin-left: auto;
        margin-right: 40px;
    }

    .box2{
        width: 345px;
        height: 40px;
        border-radius: 10px;
    }
    .box3{
        width: 345px;
        height: 58px;
    }

    .cost {
        margin-top: 20px;
        margin-left: 40px;
        margin-bottom: 0px;
    }
    .button4{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .pozitionbtn{
        width: 345px;
        margin-left: auto;
        margin-right: auto;
        width: 812px;
        height: 48px;
    }
    .mobmenu:hover {
        color: #382A29;
        font-weight: 400;
    }
    .mobmenu:active {
        color: #22676C;
        font-weight: 400;
    }
    
  }

  @media screen and (max-width: 500px) {

    header{
        width: 375px;
        height: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-left: 0px;
        
    }
    .AboutMe{
        width: 375px;
        height: 950px;
        margin-top: 70px;
        margin-left: 0px;
    }
    .approach{
        width: 375px;
        height: 1020px;
        margin-top: 80px;
    }
    .work{
        width: 375px;
        height: 460px;
        margin-top: 80px;
    }

    .photo{
        display: none;
    }

    .photo3{
        display: none;
    }
    
    .photo4{
        display: block;
        margin-top: 189px;
        margin-left: -248px;
    }

    .left{
        width: 375px;
    }

    .pidzagolovok{
        width: 375px;
    }
    .emo1 {
        width: 189px;
        height: 78px;
        margin-top: -450px;
        margin-left: 20px;
    }

    .sizeh1 {
        width: 321px;
        height: 122px;
        margin-left: 20px;
    }

    .greentext2 {
        width: 375px;
        height: 58px;
        margin-top: 450px;
        margin-left: 20px;
    }

    .btn1 {
        margin-top: 361px;
        margin-left: 58px;
    }

    .menu-btn {
        margin-left: 325px;
    }
    .dropmenuall {
        margin-left: 300px;
    }

    .n3 {
        margin-top: 0px;
        width: 290px;
        height: 525px;
        margin-left: 20px;
    }
    
    .t1 {
        height: 70px;
        width: 290px;
        margin-top: 9px;
        margin-bottom: 0px;
    }
    .b1{
        margin-top: 15px;
    }

    .b2{
        margin-left: 12px;
    }

    .h3About {
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 30px;
        height: 30px;
        width: 330px;
    }

    .t2 {
        width: 340px;
        height: 39px;
        margin-top: 18px;
        margin-left: 20px;
    }

    .t3{
        height: 77px;
    }

    .martopbut0{
        margin-left: 20px;
    }
    .button2 {
        margin-top: 33px;
    }

    .mar0 {
        margin-left: 0px;
    }

    .blokApproach {
        width: 330px;
        height: 100px;
        margin-left: 20px;

    }

    .line {
        width: 330px;
        margin-left: 20px;
    }

    .blokApproachTitle {
        width: 330px;
        margin-left: 20px;
    }
    .blokApproach1 {
        width: 330px;
        height: 100px;
        margin-left: 20px;
    }

    .p150 {
        height: 150px;
    }

    .cost {
        margin-left: 20px;
    }
    .box {
        width: 315px;
        margin-left: 20px;
        margin-top: 10px;
    }

    .box1 {
        width: 150px;
        height: 150px;
    }
    .marLeft30 {
        margin-left: 15px;
    }

    .box2 {
        width: 150px;
        height: 74px;
        border-radius: 10px;
    }

    .box3 {
        width: 150px;
        height: 90px;
    }

    .button4 {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .pozitionbtn {
        width: 375px;
    }

    .n4{
        width: 300px;
    }
    .blokApproach{
        margin-top: 30px;
    }
  }



